<!-- ======= Speakers Section ======= -->
<div class="section-header mt-2">
  <h2>Qui sommes-nous?</h2>
  <p>Présentation de ADV EVENEMENTIEL</p>
  <div class="row p-2">
   <div class="col-md-4">
    <img src="assets/img2/speakers/ev1.jpg" alt="Speaker 1" class="img-fluid">
   </div>
   <div class="col-md-8">
 <h6 style="font-family:Lucida Fax ;">
  ADV EVENEMENTIEL est un site événementiel propose des prestations de service 
    spécialisées dans la conception et l'organisation de divers événements
     tels que des événements festifs, des manifestations sportives et 
     culturelles, des événements professionnels, des activités dans le 
     domaine du tourisme ou encore du spectacle vivant. <br>
     Il permet de proposer au plus grand nombre, une information directe ou
      différée sur diverses manifestations. Il offre la possibilité de 
      mettre à disposition de différents publics un contenu multimédia 
      (texte, image, son, vidéo) donnant une couverture maximale et 
      attractive à l’événement ou à la campagne de promotion. <br>

Le rôle de notre site est de fidéliser et augmenter la portée d'un événement
En utilisant notre outil de newsletter vous pourrez informer régulièrement
 le public et lui faire part de dates importantes comme l'ouverture d'une 
 billetterie ou la clôture des inscriptions. C'est aussi le moyen idéal 
 pour envoyer un mail de rappel aux participants quelques jours avant votre
  manifestation.
 </h6> 
   </div>
  </div>
</div>  
<section id="speakers">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Equipe</h2>
        <p>Présentation de l'équipe de ADV EVENEMENTIEL</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img2/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">KABORE Justin</a></h3>
              <p>Développeur full-stack en chef</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img2/speakers/bethel1.jpg" alt="Speaker 2" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">NGAKOUTOU Bethel</a></h3>
              <p>Développeur full-stack</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="assets/img2/speakers/beni2.jpg" alt="Speaker 3" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">KODJIM Dieubénie</a></h3>
              <p>Développeuse full-stack</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img2/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
              <p>Debitis iure vero</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="200">
            <img src="assets/img2/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
              <p>Qui molestiae natus</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="speaker" data-aos="fade-up" data-aos-delay="300">
            <img src="assets/img2/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
            <div class="details">
              <h3><a href="speaker-details.html">Willow Trantow</a></h3>
              <p>Non autem dicta</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Speakers Section -->
